@using RSF.Models
@model Cancha

<br />
<br />

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Id </th>
        <th>Cancha</th>
        <th>Barrio</th>
        <th>Calle</th>
        <th>Telefono</th>
        <th>Ver Perfil</th>
    </tr>
    @foreach (Cancha canchaa in ViewBag.A)
    {
        <tr>
            <td>@Html.DisplayTextFor(a => canchaa.id)</td>
            <td>@Html.DisplayTextFor(a => canchaa.nombre)</td>
            <td>@Html.DisplayTextFor(a => canchaa.barrio)</td>
            <td>@Html.DisplayTextFor(a => canchaa.calle)</td>
            <td>@Html.DisplayTextFor(a => canchaa.telefono)</td>
            <td>@Html.ActionLink("IR A PERFIL", "BuscarCanchas", "Home", canchaa, null)</td>
        </tr>
    }
</table>

