@using RSF.Models
@model Equipo

<form method="POST" action="@Url.Action("BuscarEquipos", "Home")">

    @Html.ValidationMessageFor(x => x.id)<br />
    Busque por Id del Equipo: @Html.TextBoxFor(x => x.id) <br />

    @Html.ValidationMessageFor(x => x.nombre)<br />
    Busque por Nombre del Equipo: @Html.TextBoxFor(x => x.nombre) <br />

    <input type="submit" value="Buscar" />

</form>

<form method="POST" action="@Url.Action("CrearEquipo", "Home")">
    
    @Html.ValidationMessageFor(x => x.nombre)<br />
    Cantidad de Jugadores: @Html.TextBoxFor(x => x.nombre) <br />

    @Html.ValidationMessageFor(x => x.cantjug)<br />
    Nombre del Equipo: @Html.TextBoxFor(x => x.cantjug) <br />

    <input type="submit" value="Crear" />

</form>
