@using RSF.Models
@model Equipo

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<form method="POST" action="@Url.Action("BuscarEquipos", "Home")" style="display: inline-block;">
    <h4>
        @Html.ValidationMessageFor(x => x.id)<br />
        Busque por Id del Equipo: @Html.TextBoxFor(x => x.id, new { @class = "form-control" }) <br />
        
        @Html.ValidationMessageFor(x => x.nombre)<br />
        Busque por Nombre del Equipo: @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" }) <br />

        <input type="submit" value="Buscar" class="btn btn-primary" />
    </h4>
</form>

<form method="POST" action="@Url.Action("CrearEquipo", "Home")" style="float: right; width: 350px; display: inline-block;">
    <h4>
        @Html.ValidationMessageFor(x => x.nombre)<br />
        Nombre del Equipo: @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" }) <br />

        @Html.ValidationMessageFor(x => x.cantjug)<br />
        Cantidad de Jugadores: @Html.TextBoxFor(x => x.cantjug, new { @class = "form-control" }) <br />

        <input type="submit" value="Armar" class="btn btn-primary" />
    </h4>
</form>
