@using RSF.Models
@model Jugador

<form method="POST" action="@Url.Action("LoguearJugador", "Home")">
    @Html.ValidationMessageFor(x => x.email)<br />
    Email: @Html.TextBoxFor(x => x.email, new { @class = "form-control" }) <br />

    @Html.ValidationMessageFor(x => x.contraseña)<br />
    Contraseña: @Html.PasswordFor(x => x.contraseña, new { @class = "form-control" })<br />

    <input type="submit" value="Ingresar" class = "btn btn-primary"/>
    @Html.ActionLink("Registrarse", "Registracion", "Home")
    @ViewBag.A
</form>