@using RSF.Models
@model Jugador

<br />
<br />

<form method="POST" action="@Url.Action("LoguearJugador", "Home")" style="width: 25%; float: right;">
    
    <br /> <h3>@ViewBag.A </h3><br />

    Email: @Html.TextBoxFor(x => x.email, new { @class = "form-control", @type = "email" }) <br />

    Contraseña: @Html.PasswordFor(x => x.contraseña, new { @class = "form-control" })<br />

    <input type="submit" value="Ingresar" class = "btn btn-primary"/>

    <div style="float: right;">
        <a href="@Url.Action("Registracion", "Home")">
            <input type="button" value="Registrarse" class="btn btn-primary" />
        </a>
    </div>
</form>

<!-- Porque No Se Logueo -->