@using RSF.Models
@model Jugador

<form method="POST" action="@Url.Action("BuscarJugador", "Home")">

    <br />
    <br />
    @ViewBag.Error
    <br />

    @Html.ValidationMessageFor(x => x.id)<br/>
    Busque por Id del Jugador: @Html.TextBoxFor(x => x.id, new { @class = "form-control" }) <br/>

    @Html.ValidationMessageFor(x => x.nombre)<br/>
    Busque por Nombre del Jugador: @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" }) <br/>

    <input type="submit" value="Buscar Jugador" class="btn btn-primary"/>
    
</form>

<br />
<br />
<br />
@Html.ActionLink("Buscar o Agregar Cancha", "Cancha", "Home")
<br />
<br />
@Html.ActionLink("Buscar o Agregar Equipo", "Equipo", "Home")

