<head>
    <script type="text/javascript" src="~/Content/jquery-3.2.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> <!-- Agrego JQUERY Y DISEÑO RESPONSIVE-->

@using RSF.Models
@model Todos

<nav class="navbar navbar-default navbar-fixed-top" style="display: block; width: 100%; height:5%; background-color: darkslateblue; color: black;">
    <div class="container">
        <div class="collapse navbar-collapse">
            <a href="@Url.Action("Logueado", "Home", ViewBag.JugadorLogueado, null)">
                <span class="btn btn-default glyphicon glyphicon-home" style="float: left; margin-top: 11px;" />
            </a> <!-- Boton para volver a logueado con el Glyphicon -->
            <form method="POST" action="@Url.Action("BuscarTodo", "Home")" class="navbar-form navbar-left">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.id, new { @style="display: none;", @Value = "" + ViewBag.JugadorLogueado.id })
                    @Html.TextBoxFor(x => x.nombre, new { @class = "form-control", @Value = "" })
                </div>
                <button type="submit" class="btn btn-default" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-search"> </span></button>
            </form> <!-- Formulario para buscar cualquiercosa -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Mensajes <span class="badge">42</span></a></li>
                <li><a href="#">Notificaciones <span class="badge">3</span></a></li>
                <li class="dropdown"> <!-- Dropdown en la Navbar -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user"></span></a>
                    <ul class="dropdown-menu">
                        @{
                            Todos miperfil = new Todos();
                            miperfil.id = ViewBag.JugadorLogueado.id;
                            miperfil.nombre = "#J" + ViewBag.JugadorLogueado.id;
                        }
                        <li><a href="@Url.Action("BuscarTodo", "Home", miperfil, null)">Editar Perfil</a></li> <!-- Ir a Mi perfil -->
                        <li><a href="@Url.Action("EquiposJugador", "Home", ViewBag.JugadorLogueado, null)">Mis Equipos</a></li> <!-- Ir a Mis Equipos -->
                        <li><a href="@Url.Action("Index", "Home")">Cerrar Cuenta</a></li> <!-- Cerrar Sesion -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> <!-- Menu Principal -->

<div style="margin-left: 250px; margin-top: 20px;"> <!-- Body sin Menu Principal y Footer -->
        <div style="float:left; display: inline-block; margin:5px; padding: 9px 14px; background-color: #f7f7f9; border: 1px solid #e1e1e8; border-radius: 4px;">
            <form method="POST" action="@Url.Action("CrearEquipo", "Home")">

                @Html.TextBoxFor(x => x.id, new { @style = "display: none;", @Value = "" + ViewBag.JugadorLogueado.id })<br />
                <div id = "txtNombreDelEquipo">
                    Nombre del Equipo: @Html.TextBoxFor(x => x.nombre, new { @class = "form-control", @Value = "" })
                </div>
                <div id = "txtCantidadDeJugadoresDelEquipo" style="display: none;">
                    Cantidad de Jugadores: @Html.TextBoxFor(x => x.cantjug, new { @class = "form-control", @Value = "" })
                </div>
                <br />
                <input type="button" value="Armar Equipo" onclick="ScriptArmarEquipo()" class="btn btn-primary" id="BotonIniciarScript" />
                <input type="submit" value="Ultimo Paso" class="btn btn-primary" id="BotonFinal" style="display: none;" />

                <script>
                    function ScriptArmarEquipo() 
                    {
                        document.getElementById("txtNombreDelEquipo").style.display = "none";
                        document.getElementById("txtCantidadDeJugadoresDelEquipo").style.display = "block";
                        document.getElementById("BotonIniciarScript").style.display = "none";
                        document.getElementById("BotonFinal").style.display = "block";
                    }
                </script>
                <br />
            </form> <!-- Formulario de creacion de Equipo -->

            <form method="POST" action="@Url.Action("CrearPartido", "Home")" style="width: 250px;">
                <h4 style="color: red;"> @ViewBag.YaExiste </h4>
                @Html.TextBoxFor(x => x.id, new { @style = "display: none;", @Value = "" + ViewBag.JugadorLogueado.id })
                <div id = "txtFechaFelPartido">
                    Fecha: @Html.TextBoxFor(x => x.fecha, new { @class = "form-control", @type = "datetime-local", @Value = "" })
                </div>
                <div id = "txtCantidadDeJugadoresDelPartido" style="display: none;">
                    Cantidad de Jugadores: @Html.TextBoxFor(x => x.cantjug, new { @class = "form-control", @Value = "" })
                </div>
                <div id="txtCanchaDelPartido" style="display: none;">
                    Cancha: @Html.DropDownListFor(x => x.canchas, new SelectList(ViewBag.Combobox), new { @class = "form-control", @Value = ""})
                </div>
                <br />
                <input type="button" value="Crear Partido" onclick="CrearPartido()" id="BotonIniciarPrimerScript" class="btn btn-primary" />
                <input type="button" value="Segundo Paso" onclick="CrearPartido2()" id="BotonIniciarSegundoScript" style="display:none;" class="btn btn-primary" />
                <input type="submit" value="Ultimo Paso" id="BotonFinal2" style="display:none;" class="btn btn-primary" />

                <script>
                    function CrearPartido()
                    {
                        document.getElementById("txtFechaFelPartido").style.display = "none";
                        document.getElementById("txtCantidadDeJugadoresDelPartido").style.display = "block";
                        document.getElementById("BotonIniciarPrimerScript").style.display = "none";
                        document.getElementById("BotonIniciarSegundoScript").style.display = "block";
                    }
                    function CrearPartido2() {
                        document.getElementById("txtCantidadDeJugadoresDelPartido").style.display = "none";
                        document.getElementById("txtCanchaDelPartido").style.display = "block";
                        document.getElementById("BotonIniciarSegundoScript").style.display = "none";
                        document.getElementById("BotonFinal2").style.display = "block";
                    }
                </script>
            </form> <!-- Formulario de creacion de Partido -->

            <form method="POST" action="@Url.Action("BuscarCanchasPor", "Home")" style="width: 250px;">
                BUSCAR CANCHA
                @Html.TextBoxFor(x => x.id, new { @style = "display: none;", @Value = "" + ViewBag.JugadorLogueado.id })
                <br />
                POR BARRIO:
                @Html.DropDownListFor(x => x.barrios, new SelectList(ViewBag.ListaDeBarrios), new { @class = "form-control", @Value = "" })
                <!--LISTA DE BARRIOS-->
                <br />
                POR HORARIOS:
                @Html.TextBoxFor(x => x.fecha, new { @class = "form-control", @type = "datetime-local", @Value = "" })
                <!--LISTA DE HORARIOS DISPONIBLES-->
                <br />
                <input type="submit" value="BUSCAR" class="btn btn-primary" />

            </form> <!-- Formulario de Busqueda de Canchas -->    
        </div> <!-- Formularios de Creacion -->
    
        <div style="display: inline-block; margin:5px; padding: 9px 14px; background-color: #f7f7f9; border: 1px solid #e1e1e8; border-radius: 4px; float:left; width: 33%;">
            <h3 style="text-align: center;">PARTIDOS A JUGAR</h3>
            <br />
            @for (int Contador = 0; Contador < ViewBag.TodosLosPartidos.Count; Contador++)
            {
                Partido unPartidoaMostrar = ViewBag.TodosLosPartidos[Contador];
                List<Jugador> ListadeJugadoresdePartidoAMostrar = ViewBag.ListadeListasdeJugadores[Contador];
                string heading = "heading" + Contador;
                string idcollapse = "#collapse" + Contador;
                string collapse = "collapse" + Contador;
                string FechadelPartidoaMostrar = unPartidoaMostrar.Fecha.ToString().Substring(0, 14);
                int Contador2 = 0;
                int CantidadDeJugadoresFaltantesenelPartidoaMostrar = unPartidoaMostrar.CantJug - ListadeJugadoresdePartidoAMostrar.Count;
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id=@heading>
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href=@idcollapse aria-expanded="true" aria-controls=@collapse>
                                    @Html.Label("ID: #P" + unPartidoaMostrar.id + " FECHA: " + FechadelPartidoaMostrar)
                                </a>
                            </h4>
                        </div>
                        <div id=@collapse class="panel-collapse collapse" role="tabpanel" aria-labelledby=@heading>
                            <div class="panel-body">
                                <h5>JUGADORES DEL PARTIDO:(FALTANTES: @CantidadDeJugadoresFaltantesenelPartidoaMostrar)</h5>
                                @for (Contador2 = 0; Contador2 < ListadeJugadoresdePartidoAMostrar.Count; Contador2++)
                                {
                                    @Html.Label("#J" + ListadeJugadoresdePartidoAMostrar[Contador2].id + " " + ListadeJugadoresdePartidoAMostrar[Contador2].nombre + " " + ListadeJugadoresdePartidoAMostrar[Contador2].apellido) <br />
                                    //Mostrar Uno de los Jugadores del Partido
                                }
                                @for (Contador2 = 0; Contador2 < ViewBag.ListaDeCanchas.Count; Contador2++)
                                {
                                    if (ViewBag.ListaDeCanchas[Contador2].id == unPartidoaMostrar.IdCancha)
                                    {
                                        Cancha L = ViewBag.ListaDeCanchas[Contador2];
                                        @Html.Label("CANCHA: " + L.nombre) <br />
                                        //Mostrar Cancha del Partido
                                    }
                                }
                                @{
                                    Todos micuenta = new Todos();
                                    micuenta.nombre = "#P" + unPartidoaMostrar.id;
                                    micuenta.id = ViewBag.JugadorLogueado.id;
                                    PartidoJugador LLLL = new PartidoJugador();
                                    LLLL.idPartido = unPartidoaMostrar.id;
                                    LLLL.idJugador = ViewBag.JugadorLogueado.id;
                                }
                                @Html.ActionLink("VER PARTIDO", "BuscarTodo", "Home", micuenta, null) <!-- Ir a Perfil del Partido -->
                                <a href="@Url.Action("EntrarAPartido", "Home", LLLL, null)"><input type="button" value="Entrar al Equipo" class="btn btn-primary" /></a>
                            </div>
                        </div>
                    </div>
                </div>
              }
        </div> <!-- Todos los partidos -->

        <div style="display: inline-block; margin:5px; padding: 9px 14px; background-color: #f7f7f9; border: 1px solid #e1e1e8; border-radius: 4px; float: left;">
            <h3 style="text-align: center;">MIS PARTIDOS A JUGAR</h3>
            <br />
            <table class="table table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Id</th>
                        <th>CantJug</th>
                        <th>Fecha</th>
                        <th>Cancha</th>
                        <th>#</th>
                    </tr>
                </thead>
                @for (int Contador = 0; Contador < ViewBag.MisPartidos.Count; Contador++)
                {
                <tr>
                    @{
                            Partido unodemispartidosamostrar = ViewBag.MisPartidos[Contador];
                    }
                    <td>@Html.Label("#P" + unodemispartidosamostrar.id)</td>
                    <td>@Html.Label(unodemispartidosamostrar.CantJug.ToString())</td>
                    <td>@Html.Label(unodemispartidosamostrar.Fecha.ToString())</td>
                    @for (int Contador2 = 0; Contador2 < ViewBag.ListaDeCanchas.Count; Contador2++)
                    {
                        if (ViewBag.ListaDeCanchas[Contador2].id == unodemispartidosamostrar.IdCancha)
                        {
                            Cancha Canchadelpartido = ViewBag.ListaDeCanchas[Contador2];
                            <td>@Html.Label(Canchadelpartido.nombre)</td>
                        }
                    }
                    @{
                            Todos nuevoo = new Todos();
                            nuevoo.nombre = "#P" + unodemispartidosamostrar.id;
                            nuevoo.id = ViewBag.JugadorLogueado.id;
                    }
                    <td>@Html.ActionLink("VER PARTIDO", "BuscarTodo", "Home", nuevoo, null)</td> <!-- Ir al Perfil del Partido a Mostrar -->
                </tr>
                }
            </table>
        </div> <!-- Mis Partidos a Jugar -->
</div>

<footer style="display:block; margin-left: 270px; margin-top: 20px;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style=" float: right; margin-right: 50px;"> AFILIAR UNA CANCHA </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"> <h4 class="modal-title" id="myModalLabel">AFILIAR UNA CANCHA</h4> </div>
                <div class="modal-body">
                    <form action="@Url.Action("AgregarCancha", "Home")" method="POST">
                        @Html.TextBoxFor(x => x.id, new { @style = "display: none;", @Value = "" + ViewBag.JugadorLogueado.id })<br />
                        <H2 style="color: red;">@ViewBag.Error</H2>
                        <H3 style="color: red;">@Html.ValidationMessageFor(x => x.nombre)</H3>
                        <h4> Nombre de la Cancha: @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" }) <br /><br /></h4>

                        <H3 style="color: red;">@Html.ValidationMessageFor(x => x.telefono)</H3>
                        <h4> Telefono de la Cancha: @Html.TextBoxFor(x => x.telefono, new { @class = "form-control" }) <br /><br /></h4>

                        <H3 style="color: red;">@Html.ValidationMessageFor(x => x.barrio)</H3>
                        <h4> Barrio de la Cancha: @Html.TextBoxFor(x => x.barrio, new { @class = "form-control" }) <br /><br /></h4>

                        <H3 style="color: red;">@Html.ValidationMessageFor(x => x.calle)</H3>
                        <h4> Calle de la Cancha: @Html.TextBoxFor(x => x.calle, new { @class = "form-control" }) <br /><br /></h4>

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" value="Afiliar" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
        <div style="background-color:black; color:white;">
            @Html.ActionLink("Quienes somos", "QuienesSomos", "Home")
            @Html.ActionLink("Contacto", "Contacto", "Home")
            @Html.ActionLink("Afilia una cancha", "Afiliar", "Home")
        </div>
</footer>
