@using RSF.Models
@model Jugador
<div style="float: left; margin-left: 250px;">
    <div style="text-align: center;">
        <h3>
            <br />
            Pasos para Crear Equipo:<br /><br />
            1. Buscar Id De Tu Jugador<br /><br />
            2. Agregar Equipo<br /><br />
            3. Buscar Id De Tu Equipo Agregado<br /><br />
            3. Agregar Jugador a Equipo Utilizando Ambos Ids<br /><br />
        </h3>
    </div>
</div>

<form method="POST" action="@Url.Action("BuscarJugador", "Home")" style="width: 25%; float: right;">
    <br />
    @ViewBag.Error
    <br />

    Busque por Id del Jugador: @Html.TextBoxFor(x => x.id, new { @class = "form-control" }) <br/>

    Busque por Nombre del Jugador: @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" }) <br/>

    <input type="submit" value="Buscar Jugador" class="btn btn-primary"/>

    <div style="margin-top: 8px;">
        <a href="@Url.Action("Cancha", "Home")">
            <input type="button" value="Buscar o Agregar Cancha" class="btn btn-primary" />
        </a>
    </div>

    <div style="margin-top: 8px;">
        <a href="@Url.Action("Equipo", "Home")">
            <input type="button" value="Buscar o Agregar Equipo" class="btn btn-primary" />
        </a>
    </div>
</form>

