<head>
    <script type="text/javascript" src="~/Content/jquery-3.2.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> <!-- Agrego JQUERY Y DISEÑO RESPONSIVE-->

@using RSF.Models
@model Jugador

@{Jugador jugadorr = ViewBag.A;
    Todos A = new Todos();}

<nav class="navbar navbar-default navbar-fixed-top" style="display: block; width: 100%; height:5%; background-color: darkslateblue; color: black;">
    <div class="container">
        <div class="collapse navbar-collapse">
            <a href="@Url.Action("Logueado", "Home", ViewBag.B, null)">
                <span class="btn btn-default glyphicon glyphicon-home" style="float: left; margin-top: 11px;" />
            </a>
            <form method="POST" action="@Url.Action("BuscarTodo", "Home")" class="navbar-form navbar-left">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.id, new { @style = "display: none;", @Value = "" + ViewBag.B.id })
                    @Html.TextBoxFor(x => x.nombre, new { @class = "form-control", @Value = "" })
                </div>
                <button type="submit" class="btn btn-default" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-search"> </span></button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Mensajes <span class="badge">42</span></a></li>
                <li><a href="#">Notificaciones <span class="badge">3</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user"></span></a>
                    <ul class="dropdown-menu">
                        @{
                            Todos nuevoo = new Todos();
                            nuevoo.id = ViewBag.B.id;
                            nuevoo.nombre = "#J" + ViewBag.B.id.ToString();
                        }
                        <li><a href="@Url.Action("BuscarTodo", "Home", nuevoo, null)">Editar Perfil</a></li>
                        <li><a href="@Url.Action("EquiposJugador", "Home", ViewBag.B, null)">Mis Equipos</a></li>
                        <li><a href="#">Cerrar Cuenta</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--
<form method="POST" action="@Url.Action("ModificarJugador", "Home")" style="width:300px; float: left;">
    <h4>
        { 
        if (ViewBag.B.id == jugadorr.id)
        {
            Html.TextBoxFor(x => x.id, new { style = "display: none;", Value=ViewBag.B.id });

            Html.Label("Nombre: ");
            Html.TextBoxFor(x => x.nombre, new { class = "form-control", Value=ViewBag.B.nombre }); <br/>
    
            Html.Label("Apellido: ");
            Html.TextBoxFor(x => x.apellido, new { class = "form-control", Value = ViewBag.B.apellido }); <br />

            Html.Label("Edad: ");
            Html.TextBoxFor(x => x.edad, new { class = "form-control", Value = ViewBag.B.edad }); <br />

            Html.Label("Foto: ");
            Html.TextBoxFor(x => x.foto, new { class = "form-control", Value = ViewBag.B.foto }); <br />

            Html.TextBoxFor(x => x.email, new { style = "display: none;", Value = ViewBag.B.email });

            Html.Label("Telefono: ");
            Html.TextBoxFor(x => x.telefono, new { class = "form-control", Value = ViewBag.B.telefono }); <br />

            Html.Label("Contraseña: ");
            Html.TextBoxFor(x => x.contraseña, new { class = "form-control"}); <br />

            Html.Label("Confirmar Contraseña: ");
            Html.TextBoxFor(x => x.Confcontraseña, new { class = "form-control"}); <br />
            }
        }
        
    </h4>

    <input type="submit" value="Modificar" class="btn btn-primary"/><br />
    <div style="margin-top: 10px;">
        <a href="Url.Action("EliminarJugador", "Home", new { A = jugadorr.id }, null)">
            <input type="button" value="Eliminar" class="btn btn-primary" />
        </a>
    </div>

</form>
    -->
<br /><br />
<div style="float: left; margin-left: 280px; display: inline-block; padding: 9px 14px; background-color: lightgray; border: 1px solid black; border-radius: 4px; text-align: center;">
    <h2>EQUIPOS</h2> <br />
    <table class="table table-hover" style="width: 400px;">
        <thead class="thead-inverse">
            <tr>
                <th style="text-align: center;">Id</th>
                <th style="text-align: center;">Nombre</th>
                <th style="text-align: center;">#</th>
            </tr>
        </thead>
        @foreach (Equipo equipoo in ViewBag.G)
        {
            if (equipoo.id == 0)
            {

            }
            else
            {
                <tr>
                    <td>@Html.Label("#E" + equipoo.id)</td>
                    <td>@Html.Label(equipoo.nombre)</td>
                    @{
                        Todos nuevo = new Todos();
                        nuevo.id = ViewBag.B.id;
                        nuevo.nombre = "#E" + equipoo.id;
                    }
                    <td>@Html.ActionLink("VER PERFIL", "BuscarTodo", "Home", nuevo, null)</td>
                </tr>
             }
        }
    </table>
</div>


<script>
    function myfunction()
    {
        $('#form-popover').popover({
            content: $('#form').parent().html(),
            placement: "left",
            html: true,
        });
    }
    function myfunction2() {
        $('#form-popover2').popover({
            content: $('#form2').parent().html(),
            placement: "left",
            html: true,
        });
    }
</script>


<div class="hidden">
    <form method="POST" id="form" action="@Url.Action("ModificarJugador", "Home")" style="width:190px; float: left;">
        <div style="float: left; display:inline-block;">
            @if (ViewBag.B.id == jugadorr.id)
            {
                @Html.TextBoxFor(x => x.id, new { @style = "display: none;", @Value=ViewBag.B.id });
                @Html.TextBoxFor(x => x.nombre, new { @style = "display: none;", @Value=ViewBag.B.nombre }); 
    
                @Html.TextBoxFor(x => x.apellido, new { @style = "display: none;", @Value = ViewBag.B.apellido }); 
                
                @Html.TextBoxFor(x => x.edad, new { @style = "display: none;", @Value = ViewBag.B.edad }); 
                
                @Html.TextBoxFor(x => x.foto, new { @style = "display: none;", @Value = ViewBag.B.foto });

                @Html.TextBoxFor(x => x.email, new { @style = "display: none;", @Value = ViewBag.B.email });
                            
                @Html.TextBoxFor(x => x.telefono, new { @class = "form-control", @Value = ViewBag.B.telefono });
                
                @Html.TextBoxFor(x => x.contraseña, new { @style = "display: none;", @Value = ViewBag.B.contraseña });

                <button type="submit" class="btn btn-primary" style="display:inline-block; float: right; margin-left: 10px;">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            }
            </div>
            @if (ViewBag.B.id != jugadorr.id)
            {
                <h5>@Html.Label("SOLO PUEDE MODIFICAR SU JUGADOR")</h5>
            }
    </form>
</div>
<div class="hidden">
    <form method="POST" id="form2" action="@Url.Action("ModificarJugador", "Home")" style="width:280px; float: left;">
        <div style="float: left; display:inline-block;">
            @if (ViewBag.B.id == jugadorr.id)
            {
                @Html.TextBoxFor(x => x.id, new { @style = "display: none;", @Value = ViewBag.B.id });
                @Html.TextBoxFor(x => x.nombre, new { @style = "display: none;", @Value = ViewBag.B.nombre });

                @Html.TextBoxFor(x => x.apellido, new { @style = "display: none;", @Value = ViewBag.B.apellido });

                @Html.TextBoxFor(x => x.edad, new { @style = "display: none;", @Value = ViewBag.B.edad });

                @Html.TextBoxFor(x => x.foto, new { @style = "display: none;", @Value = ViewBag.B.foto });

                @Html.TextBoxFor(x => x.email, new { @class = "form-control", @Value = ViewBag.B.email });

                @Html.TextBoxFor(x => x.telefono, new { @style = "display: none;", @Value = ViewBag.B.telefono });

                @Html.TextBoxFor(x => x.contraseña, new { @style = "display: none;", @Value = ViewBag.B.contraseña });

                <button type="submit" class="btn btn-primary" style="display:inline-block; float: right; margin-left: 10px;">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            }
        </div>
        @if (ViewBag.B.id != jugadorr.id)
            {
            <h5>@Html.Label("SOLO PUEDE MODIFICAR SU JUGADOR")</h5>
        }
    </form>
</div>


<div style="float: right; margin-right: 150px; display: inline-block;">
    <h3>
        ID: @Html.Label("#J" + jugadorr.id)<br /><br />
        NOMBRE: @Html.Label(jugadorr.nombre)<br /><br />
        APELLIDO: @Html.Label(jugadorr.apellido)<br /><br />
        EDAD: @Html.Label("" + jugadorr.edad)<br /><br />
        FOTO: @Html.Label(jugadorr.foto)<br /><br />
        TELEFONO: @Html.Label("" + jugadorr.telefono)<a id="form-popover" onclick="myfunction()">[Editar]</a><br /><br />
        CALIFICACION: @Html.Label(jugadorr.calificacion.ToString())<br /><br />
        CANTIDAD DE VOTOS: @Html.Label(jugadorr.cantidaddevotos.ToString())<br /><br />
        EMAIL: @Html.Label("" + jugadorr.email)<a id="form-popover2" onclick="myfunction2()">[Editar]</a><br /><br /><br /><br />
    </h3>
</div>


