@using RSF.Models
@model Equipo

@{Equipo equipo = ViewBag.A;}

<br />
<br />
<div style="float: right;">
    <h3>
        ID: @Html.DisplayTextFor(x => equipo.id)<br />
        NOMBRE: @Html.DisplayTextFor(x => equipo.nombre)<br />
        CANTIDAD DE JUGADORES: @Html.DisplayTextFor(x => equipo.cantjug)<br />        
        CALIFICACION: @Html.DisplayTextFor(x => equipo.calificacion)<br />        
        CANTIDAD DE VOTOS: @Html.DisplayTextFor(x => equipo.cantvotos)<br />
        VER LOS JUGADORES: @Html.ActionLink("IR A PERFIL", "BuscarJugador", "Home", jugadorr, null)
    </h3>
</div>

<br />
<br />

<form method="POST" action="@Url.Action("ModificarEquipo", "Home")">

    @Html.ValidationMessageFor(x => x.nombre)<br />
    Nombre:@Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })<br />

    @Html.ValidationMessageFor(x => x.cantjug)<br />
    Apellido:@Html.TextBoxFor(x => x.cantjug, new { @class = "form-control" })<br />

    @Html.ValidationMessageFor(x => x.calificacion)<br />
    Apellido:@Html.TextBoxFor(x => x.calificacion, new { @class = "form-control" })<br />

    @Html.ValidationMessageFor(x => x.cantvotos)<br />
    Edad:@Html.TextBoxFor(x => x.cantvotos, new { @class = "form-control" })<br />

    <input type="submit" value="Modificar" class="btn btn-primary" />

    <br />

</form>

@Html.ActionLink("Eliminar", "EliminarEquipo", "Home", new { A = equipo.id }, null)