@using RSF.Models
@model Jugador

@{Jugador jugadorr = ViewBag.A;}

</br>
</br>

<form method="POST" action="@Url.Action("ModificarJugador", "Home")" style="width:300px; float: left;">
    <h4>
        ID: @Html.TextBoxFor(x => x.id, new { @class = "form-control" })<br />

        Nombre: @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })<br />

        Apellido: @Html.TextBoxFor(x => x.apellido, new { @class = "form-control" })<br />

        Edad: @Html.TextBoxFor(x => x.edad, new { @class = "form-control" })<br />

        Telefono: @Html.TextBoxFor(x => x.telefono, new { @class = "form-control" })<br />

        Email: @Html.TextBoxFor(x => x.email, new { @class = "form-control" })<br />

        Contraseña: @Html.PasswordFor(x => x.contraseña, new { @class = "form-control" })<br />

        Confirmar Contraseña: @Html.PasswordFor(x => x.Confcontraseña, new { @class = "form-control" })<br />
    </h4>

    <input type="submit" value="Modificar" class="btn btn-primary"/><br />
    <div style="margin-top: 10px;">
        <a href="@Url.Action("EliminarJugador", "Home", new { A = jugadorr.id }, null)">
            <input type="button" value="Eliminar" class="btn btn-primary" />
        </a>
    </div>

</form>

<div style="float: right;">
    <h3>
        <br />
        ID: @Html.DisplayTextFor(x => jugadorr.id)<br /><br />
        NOMBRE: @Html.DisplayTextFor(x => jugadorr.nombre)<br /><br />
        APELLIDO: @Html.DisplayTextFor(x => jugadorr.apellido)<br /><br />
        FOTO: @Html.DisplayTextFor(x => jugadorr.foto)<br /><br />
        EDAD: @Html.DisplayTextFor(x => jugadorr.edad)<br /><br />
        CALIFICACION: @Html.DisplayTextFor(x => jugadorr.calificacion)<br /><br />
        CANTIDAD DE VOTOS: @Html.DisplayTextFor(x => jugadorr.cantidaddevotos)<br /><br />
        EMAIL: @Html.DisplayTextFor(x => jugadorr.email)
    </h3>
</div>

