<head>
    <script type="text/javascript" src="~/Content/jquery-3.2.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> <!-- Agrego JQUERY Y DISEÑO RESPONSIVE-->

@using RSF.Models
@model Todos


@{Cancha canchaa = ViewBag.CanchaElejida;}

<br />
<br />

<div style="float: right;">
    <h3>
        <br />
        ID: @Html.Label("#C" + canchaa.id)<br /><br />        
        NOMBRE: @Html.Label("" + canchaa.nombre)<br /><br />        
        TELEFONO: @Html.Label("" + canchaa.telefono)<br /><br />
        BARRIO: @Html.Label("" + canchaa.barrio)<br /><br />
        CALLE: @Html.Label("" + canchaa.calle)<br /><br /><br /><br />
        PARTIDOS A JUGAR EN ESTA CANCHA:
    </h3>
    <table class="table table-hover" style="width: 700px; float: right;">
        <thead class="thead-inverse">
            <tr>
                <th>Id del Partido</th>
                <th>Cantidad de Jugadores</th>
                <th>Fecha</th>
                <th>#</th>
            </tr>
        </thead>
        @foreach (Partido partidoo in ViewBag.PartidosCancha)
        {
            <tr>
                <td>@Html.Label("#P" + partidoo.id)</td>
                <td>@Html.Label("" + partidoo.CantJug)</td>
                <td>@Html.Label("" + partidoo.Fecha)</td>
                @{ 
                    Todos nuevo = new Todos();
                    nuevo.nombre = "#P" + partidoo.id.ToString();
                }
                <td>@Html.ActionLink("VER PERFIL", "BuscarTodo", "Home", nuevo, null)</td>
            </tr>
            <!-- Falta Agregar un partido en la cancha -->
        }
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float: right; margin-right: 50px;"> Crear Un Partido </button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header"> <h4 class="modal-title" id="myModalLabel">AFILIAR UNA CANCHA</h4> </div>
                    <div class="modal-body">
                        <form method="POST" action="@Url.Action("CrearPartido", "Home")" style="width: 250px;">
                            <h4 style="color: red;"> @ViewBag.YaExiste </h4>
                            @Html.TextBoxFor(x => x.id, new { @style = "display: none;", @Value = "" + ViewBag.JugadorLogueado.id })
                            <div id="txtFechaFelPartido">
                                Fecha: @Html.TextBoxFor(x => x.fecha, new { @class = "form-control", @type = "datetime-local", @Value = "" })
                            </div>
                            <div id="txtCantidadDeJugadoresDelPartido" style="display: none;">
                                Cantidad de Jugadores: @Html.TextBoxFor(x => x.cantjug, new { @class = "form-control", @Value = "" })
                            </div>
                            <div id="txtCanchaDelPartido" style="display: none;">
                                Cancha: @Html.DropDownListFor(x => x.canchas, new SelectList(ViewBag.Combobox), new { @class = "form-control", @Value = canchaa.nombre })
                            </div>
                            <br />
                            <input type="button" value="Crear Partido" onclick="CrearPartido()" id="BotonIniciarPrimerScript" class="btn btn-primary" />
                            <input type="submit" value="Segundo Paso" onclick="CrearPartido2()" id="BotonIniciarSegundoScript" style="display:none;" class="btn btn-primary" />
                            
                            <script>
                                function CrearPartido() {
                                    document.getElementById("txtFechaFelPartido").style.display = "none";
                                    document.getElementById("txtCantidadDeJugadoresDelPartido").style.display = "block";
                                    document.getElementById("BotonIniciarPrimerScript").style.display = "none";
                                    document.getElementById("BotonIniciarSegundoScript").style.display = "block";
                                }
                            </script>
                        </form> <!-- Formulario de creacion de Partido -->
                    </div>
                </div>
            </div>
        </div>
    </table>
</div>
