@using RSF.Models
@model Jugador

@{Jugador jugadorr = ViewBag.A;}

</br>
</br>

<form method="POST" action="@Url.Action("ModificarJugador", "Home")" style="width:300px; float: left;">
    <h4>
        @{ 
        if (ViewBag.B.id == jugadorr.id)
        {
            @Html.TextBoxFor(x => x.id, new { @style = "display: none;" }); <br/>

            @Html.Label("Nombre: ");
            @Html.TextBoxFor(x => x.nombre, new { @class = "form-control", @Value=ViewBag.B.nombre }); <br/>

            @Html.Label("Apellido: ");
            @Html.TextBoxFor(x => x.apellido, new { @class = "form-control", @Value = ViewBag.B.apellido }); <br />

            @Html.Label("Edad: ");
            @Html.TextBoxFor(x => x.edad, new { @class = "form-control", @Value = ViewBag.B.edad }); <br />

            @Html.Label("Foto: ");
            @Html.TextBoxFor(x => x.foto, new { @class = "form-control", @Value = ViewBag.B.foto }); <br />

            @Html.Label("Telefono: ");
            @Html.TextBoxFor(x => x.telefono, new { @class = "form-control", @Value = ViewBag.B.telefono }); <br />

            @Html.Label("Contraseña: ");
            @Html.TextBoxFor(x => x.contraseña, new { @class = "form-control"}); <br />

            @Html.Label("Confirmar Contraseña: ");
            @Html.TextBoxFor(x => x.Confcontraseña, new { @class = "form-control"}); <br />
            }
            else
            {
                @Html.Label("Nombre: " + jugadorr.nombre);
                @Html.Label("Apellido: " + jugadorr.apellido);
                @Html.Label("Edad: " + jugadorr.edad);
                @Html.Label("Foto: " + jugadorr.foto);
                @Html.Label("Telefono: " + jugadorr.telefono);
            }
        }
        
    </h4>

    <input type="submit" value="Modificar" class="btn btn-primary"/><br />
    <div style="margin-top: 10px;">
        <a href="@Url.Action("EliminarJugador", "Home", new { A = jugadorr.id }, null)">
            <input type="button" value="Eliminar" class="btn btn-primary" />
        </a>
    </div>

</form>

<div style="float: right;">
    <h3>
        <br />
        ID: @Html.Label("#J" + jugadorr.id);<br /><br />
        CALIFICACION: @Html.Label(jugadorr.calificacion.ToString())<br /><br />
        CANTIDAD DE VOTOS: @Html.Label(jugadorr.cantidaddevotos.ToString())<br /><br />
        EMAIL: @Html.Label("" + jugadorr.email)<br /><br /><br /><br />
        EQUIPOS:
    </h3>
    <table class="table table-hover" style="width: 700px; float: right;">
        <thead class="thead-inverse">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>#</th>
            </tr>
        </thead>
        @foreach (Equipo equipoo in ViewBag.G)
        {
            if (equipoo.id == 0)
            {

            }
            else
            {
                <tr>
                    <td>@Html.Label("#E" + equipoo.id)</td>
                    <td>@Html.Label(equipoo.nombre)</td>
                    @{
                        Todos nuevo = new Todos();
                        nuevo.nombre = "#E" + equipoo.id.ToString();
                    }
                    <td>@Html.ActionLink("VER PERFIL", "BuscarTodo", "Home", nuevo, null)</td>
                </tr>
            }
        }
    </table>
</div>

