@using RSF.Models
@model Equipo

@{Equipo equipoo = ViewBag.A;}

</br>
</br>

<form method="POST" action="@Url.Action("ModificarEquipo", "Home")" style="width:300px; float: left;">
    <h4>
        ID: @Html.TextBoxFor(x => x.id, new { @class = "form-control" })<br />

        Nombre: @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })<br />

        Cantidad de Jugadores: @Html.TextBoxFor(x => x.cantjug, new { @class = "form-control" })<br />
    </h4>

    <input type="submit" value="Modificar" class="btn btn-primary" /><br />
    <div style="margin-top: 10px;">
        <a href="@Url.Action("EliminarEquipo", "Home", new { A = equipoo.id }, null)">
            <input type="button" value="Eliminar" class="btn btn-primary" />
        </a>
    </div>
</form>

<div style="float: right;">
    <h3>
        <br />
        ID: @Html.DisplayTextFor(x => equipoo.id)<br /><br />
        NOMBRE: @Html.DisplayTextFor(x => equipoo.nombre)<br /><br />
        CANTIDAD DE JUGADORES: @Html.DisplayTextFor(x => equipoo.cantjug)<br /><br />
        CALIFICACION: @Html.DisplayTextFor(x => equipoo.calificacion)<br /><br />
        CANTIDAD DE VOTOS: @Html.DisplayTextFor(x => equipoo.cantvotos)<br /><br />
    </h3>

    <div style="margin-top: 10px;">
        <a href="@Url.Action("VerPlantel", "Home", new { A = equipoo.id }, null)">
            <input type="button" value="Ver Plantel" class="btn btn-primary" />
        </a>
    </div>
</div>