<head>
    <script type="text/javascript" src="~/Content/jquery-3.2.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> <!-- Agrego JQUERY Y DISEÑO RESPONSIVE-->

@using RSF.Models
@model Cancha


@{Cancha canchaa = ViewBag.CanchaElejida;}

<br />
<br />

<div style="float: right;">
    <h3>
        <br />
        ID: @Html.Label("#C" + canchaa.id)<br /><br />        
        NOMBRE: @Html.Label("" + canchaa.nombre)<br /><br />        
        TELEFONO: @Html.Label("" + canchaa.telefono)<br /><br />
        BARRIO: @Html.Label("" + canchaa.barrio)<br /><br />
        CALLE: @Html.Label("" + canchaa.calle)<br /><br /><br /><br />
        PARTIDOS A JUGAR EN ESTA CANCHA:
    </h3>
    <table class="table table-hover" style="width: 700px; float: right;">
        <thead class="thead-inverse">
            <tr>
                <th>Id del Partido</th>
                <th>Cantidad de Jugadores</th>
                <th>Fecha</th>
                <th>#</th>
            </tr>
        </thead>
        @foreach (Partido partidoo in ViewBag.PartidosCancha)
        {
            <tr>
                <td>@Html.Label("#P" + partidoo.id)</td>
                <td>@Html.Label("" + partidoo.CantJug)</td>
                <td>@Html.Label("" + partidoo.Fecha)</td>
                @{ 
                    Todos nuevo = new Todos();
                    nuevo.nombre = "#P" + partidoo.id.ToString();
                }
                <td>@Html.ActionLink("VER PERFIL", "BuscarTodo", "Home", nuevo, null)</td>
            </tr>
            <!-- Falta Agregar un partido en la cancha -->
        }
    </table>
</div>
<footer>
    <div style="background-color:black; color:white;">
        @Html.ActionLink("Quienes somos", "QuienesSomos", "Home")
        @Html.ActionLink("Contacto", "Contacto", "Home")
        @Html.ActionLink("Afilia una cancha", "Afiliar", "Home")
    </div>
</footer>