@using RSF.Models
@model Cancha

@{Cancha canchaa = ViewBag.A;}

<br />
<br />

<form method="POST" action="@Url.Action("ModificarCancha", "Home")" style="width:300px; float: left;">
    <h4>
        ID:@Html.TextBoxFor(x => x.id, new { @class = "form-control" })<br />

        Nombre:@Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })<br />

        Telefono:@Html.TextBoxFor(x => x.telefono, new { @class = "form-control" })<br />

        Barrio:@Html.TextBoxFor(x => x.barrio, new { @class = "form-control" })<br />

        Calle:@Html.TextBoxFor(x => x.calle, new { @class = "form-control" })<br />
    </h4>

    <input type="submit" value="Modificar" class="btn btn-primary" />
    <div style="margin-top: 10px;">
        <a href="@Url.Action("EliminarCancha", "Home", new { A = canchaa.id }, null)">
            <input type="button" value="Eliminar" class="btn btn-primary" />
        </a>
    </div>
</form>

<div style="float: right;">
    <h3>
        <br />
        ID: @Html.DisplayTextFor(x => canchaa.id)<br /><br />
        NOMBRE: @Html.DisplayTextFor(x => canchaa.nombre)<br /><br />
        TELEFONO: @Html.DisplayTextFor(x => canchaa.telefono)<br /><br />
        BARRIO: @Html.DisplayTextFor(x => canchaa.barrio)<br /><br />
        CALLE: @Html.DisplayTextFor(x => canchaa.calle)
    </h3>
</div>