@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using RSF.Models
@model Jugador


<h2>Registracion</h2>

<form method="POST" action="@Url.Action("Registrar", "Home")">

    @Html.ValidationMessageFor(x => x.nombre)<br/>
    Nombre:@Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })<br />

    @Html.ValidationMessageFor(x => x.apellido )<br />
    Apellido:@Html.TextBoxFor(x => x.apellido, new { @class = "form-control" })<br />

    @Html.ValidationMessageFor(x => x.edad)<br />
    Edad:@Html.TextBoxFor(x => x.edad, new { @class = "form-control" })<br />

    @Html.ValidationMessageFor(x => x.telefono)<br />
    Telefono:@Html.TextBoxFor(x => x.telefono, new { @class = "form-control" })<br />

    @Html.ValidationMessageFor(x => x.email)<br />
    Email:@Html.TextBoxFor(x => x.email, new { @class = "form-control" })<br />
    
    @Html.ValidationMessageFor(x => x.contraseña)<br />
    Contraseña:@Html.PasswordFor(x => x.contraseña, new { @class = "form-control" })<br />

    @Html.ValidationMessageFor(x => x.Confcontraseña)<br />
    Confirmar Contraseña:@Html.PasswordFor(x => x.Confcontraseña, new { @class = "form-control" })<br />

    <input type="submit" value="Registrar" class="btn btn-primary"/>
    <br />
    <br />
    @ViewBag.Error
</form>


