@using RSF.Models
@model Todos

<br />
<br />
<br />
<br />
<br />
<br />

<table class="table table-hover" style="width: 700px; float: right;">
    <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>#</th>
        </tr>
    </thead>
    @foreach (Todos todo in ViewBag.A)
    {
        <tr>
            @if (todo.tipo == "Jugador")
            {
                <td>@Html.Label("#J" + todo.id)</td>
                <td>@Html.Label("" + todo.nombre)</td>
                todo.nombre = "#J" + todo.id;
                <td>@Html.Label("" + todo.tipo)</td>
                <td>@Html.ActionLink("VER PERFIL", "BuscarTodo", "Home", todo, null)</td>
            }
            @if (todo.tipo == "Equipo")
            {
                <td>@Html.Label("#E" + todo.id)</td>
                <td>@Html.Label("" + todo.nombre)</td>
                todo.nombre = "#E" + todo.id;
                <td>@Html.Label("" + todo.tipo)</td>
                <td>@Html.ActionLink("VER PERFIL", "BuscarTodo", "Home", todo, null)</td>
            }
            @if (todo.tipo == "Cancha")
            {
                <td>@Html.Label("#J" + todo.id)</td>
                <td>@Html.Label("" + todo.nombre)</td>
                todo.nombre = "#C" + todo.id;
                <td>@Html.Label("" + todo.tipo)</td>
                <td>@Html.ActionLink("VER PERFIL", "BuscarTodo", "Home", todo, null)</td>
            }
        </tr>
    }
</table>

